<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yrezgui.doroppu" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Doroppu</name>
    <description>
       Dropbox HTML5 client
    </description>
    <author email="rezgui.y@gmail.com" href="http://www.yrezgui.com">
        Yacine Rezgui
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
